*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 a{
   text-decoration: none;
}

body{
   background-image: url(../../landing-page-package-midia/backgound.jpg);
}

nav{
   background-color: #14161A
}
 
 .galery-container{
   background-image: url(background/backgound.jpg);
    width: 100%;
 }

 .galery-container h1{
   font-size: 3vw;
   text-align: center;
   color: rgb(0, 0, 0);
   font-family: 'Roboto', sans-serif;
}

 .filho{
    width: 100%;
    max: width 1600px;
    margin: auto;
    padding:20px 100px 40px;;
 }
 
 .galery-container .neto{
    display: flex;
 }

 .galery-container .image{
    flex: 100%;
    cursor: pointer;
 }
 .galery-container .image img{
    width: 90%;
    height: 90%;
    transition: 0.4s;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
 }


/*Animações*/
.titulo {
   opacity: 1;
   animation-name: fade-in;
   animation-duration: 2s;
   
}

@keyframes fade-in {
   from {
   opacity: 0;
   }
   to {
   opacity: 1;
   }
}

.image:hover img{

   transform: scale(1.5);

}


/*Footer*/

footer{
   background-color: black;
}
