body{
    background-image:url("../../landing-page-package-midia/backgound.jpg");
    background-repeat: repeat;
    /* background-size: 100%; */
    color: black
}

p, h1, h2, h3, h4{
    color: black;
}

.card-title, .card-subtitle, .card-body, .card-name{

    color: black;
}

.nav-link{
    color: white;
}

.carousel-item > img {
    object-fit: cover;
    height: 240px;
    object-position: 50% 50%;
    width: 298px !important;
}

.nav{
    text-align: right;
}

